.iconBasketAdd {
    background-image: url(../../images/basket-add.png) !important;
    width: 32px !important;
    height: 32px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.iconBasketRemove {
    background-image: url(../../images/basket-remove.png) !important;
    width: 32px !important;
    height: 32px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.iconBasketFull {
    background-image: url(../../images/basket-full.png) !important;
    width: 24px !important;
    height: 24px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.disclosure_1 {
    overflow: hidden;
    -webkit-mask: 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wGBwQ7Dme80Q4AAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAAAKBJREFUOMvtU7ENAyEQM0i0DJMMxggnNoCKhpWyBxVINBQUlyrRJwKeKF0Ul9bZ8vl0wO8ixshExGdzYkSGEDilBKUUeu+w1oqZgRyRrTUAQO8dSimskkydnXNcSgGAZRKx2s97zznnpYlcGRhjnsOzdeTGQa5Hk60SHyAiaK1vH5/xIOZa6wv/3oH4RjxcgYguu+JVAt4R46TArV/4A7gDIZZWTRQC+PUAAAAASUVORK5CYII=') no-repeat;
    -webkit-mask-size: 1.2em;
    background-color: #FFFFFF;
    background-image: -webkit-linear-gradient(#939393, #000000);
    background-image: linear-gradient(#939393, #000000);
    position: absolute;
    width: 1em;
    height: 1.2em;
    bottom: 30%;
}

.h1 {
    text-align: center
}